.searchContainer {
    height: 6%;
}

.searchWrapper {
    max-width: 20%;
    margin: auto;
    z-index: 1;
    display: flex;
    transition: all .6s ease;
}

.searchInput {
    width: 100%;
    font-size: .9rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    border: none;
    background: #181818;
    color: #ccc;
    margin: 0;
    padding-left: .8rem;
}


.searchWrapper:has(.searchInput:focus) {
  box-shadow: 0 0 8px rgba(244, 187, 146, 1);
  border-radius: 30px;
  max-width: 30%;
}

.searchIcon {
    color: #e99d72;
    font-size: 1.4rem;
    cursor: pointer;
    background: #181818;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    padding: .5rem;
    transition: all .6s ease;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 5% 15% 15% 10%;
}

.card {
    background: linear-gradient(75deg,
            rgb(40, 58, 88) 0%,
            rgba(54, 69, 98, 0) 100%);
    border: 1px solid rgba(54, 69, 98, .18);
    padding: 12px;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 60%;
    cursor: grab;
}

.card:active {
    cursor: grabbing;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.albumImage {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.albumName {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 4px;
}

.artists {
    font-size: 14px;
    color: #ccc;
}