.sidebarContainer {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .sidebarContainer {
    width: 100%;
    height: 70px;
    flex-direction: row;
    padding: 0 10px;
    background-color: #1e2a3e;
    border-top: 1px solid rgba(244, 187, 146, 0.2);
  }
}

.sidebarButtons {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .sidebarButtons {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}
