.playerBody {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
  justify-content: center;
  height: 50%;
}

.iframeWrapper {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
