.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 15% 10% 10%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin: 80px 5% 20px;
  }
}

.card {
  background: linear-gradient(
    75deg,
    rgb(40, 58, 88) 0%,
    rgba(54, 69, 98, 0) 100%
  );
  border: 1px solid rgba(54, 69, 98, 0.18);
  padding: 12px;
  border-radius: 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.albumImage {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.albumName {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 4px;
}

.artists {
  font-size: 14px;
  color: #ccc;
}

.fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 0;
  top: 10%;
}

@media (max-width: 768px) {
  .fixed {
    top: 20px;
    position: relative;
    height: auto;
    margin-bottom: 20px;
  }
}
